/*******************************************************************************\
	Base
\*******************************************************************************/
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html,
body {
	background-image: radial-gradient(#1da4d6,black);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 100%;
    margin: 0 auto;
    padding: 0;
	transition: all cubic-biezer(0.7, 0.6, 0.5, 1) 0.3s;
}

a {
	color: #000;
	display: inline;
	margin: 0 auto;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px dotted #000;
}

h1 {
	font-size: 2em;
    margin: 0 auto;
    padding: 0;
}

ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

/*******************************************************************************\
	Layout
\*******************************************************************************/

#content {
	position: relative;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.76);
}

#stat,
.missed,
.score {
    position: absolute;
    bottom: 0;
}

#stat,
.missed {
    text-align: right;
}

#stat {
    color: #fff;
    display: none;
    left: 0;
    width: 100%;
}

.missed {
    left: -140px;
}

.score {
    right: -100px;
    text-align: left;
}

#missed {
    display: block;
    font-size: 100px;
}

#timer,
#score {
    display: block;
	font-size: 50px;
}

.l-footer {
	color: #000;
	font-size: 10px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0;
    position: relative;
	text-align: center;
    width: 100%; 
}

.l-header {
    height: 100px;
    margin: 0 auto;
	margin-bottom: 20px;
    padding: 5px;
    position: relative; 
	text-align: center;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    width: 100%; 
}

.gamescreen {
    background: #000000 url(../img/underwater.jpg) no-repeat top left;
	border: 2px solid rgba(255, 255, 255, 0.7);
    height: 488px;
    margin: 0 auto;
    overflow: hidden;
	padding: 0;
    position: relative;
    width: 100%;
}

.screen {
    background-image: url(../img/fond_BTG.png);
	background-repeat: no-repeat;
	background-position: top center;
	height: 100%;
	left: 0;
	margin: 0 auto;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

/*******************************************************************************\
	Module
\*******************************************************************************/
.bubble {
	display: block;
	height: 40px;
	left: 0;
	line-height: 40px;
	position: absolute;
	top: 0;
	width: 40px;
	
	background-color: black;
	border-radius: 50%;
	color: white;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.6);
}

.menu {
	position: relative;
}

.menu-title {
	color: red;
}

.main, #menuscreen {
}

#menuscreen {display: none;}
#pausescreen {display: none;}
#scorescreen {display: none;}

.main {
	background: rgba(0,0,0,0.8);
	color: #fff;
	display: none;
	height: 100%; /* 492px/494px */
	left: 0;
	top: 0;
	padding-top: 40px;
	position: absolute;
	text-align: center;
	width: 100%; /* 734px/730px */
	z-index: 999;
}

.main a {
	color: #9CD62C;
	display: block;
	padding: 10px 0;
}

.main a:hover {
	background-color: #9CD62C;
	border: none;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.69);
}

.wrap {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 730px;
}